<html>
<head>
</head>
<body>
  <p>Welcome to <%= Diaspora::Application.config.server_name %>, <%= @resource.email %>!</p>

  <p>
    Thanks for signing up with a distributed social network. You can confirm your account through the link below:
  </p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
</body>
</html>